@font-face{
    font-family: PhatBoy;
    src: url(../font/PhatBoy\ Slim.otf);
}

@font-face {
    font-family: Oswald;
    src: url(../font/Oswald-VariableFont_wght.ttf);
}

:root{
    --site-color-01: #c13854;
    --site-color-01-hover:var(--site-color-01-hover) #9e2f6e;
}

body{
    background-color: #1e1e1e;
}

body:after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/facebook-color.png) url(../img/instagram-color.png);
}

h1{
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: Oswald;
    font-weight: 600;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: Oswald;
}

a {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: Oswald;
    cursor: pointer;
    text-transform: uppercase;
}

.header-main{
    width: 100%;
    height: 60px;
    background-color: #B666D2;
    display: flex;
    justify-content: space-between;
}

.header-main-logo{
    width: fit-content;
    height: 100%;
    padding-left: 60px;
    display: flex;
}

.header-main-logo img{
    height: 40px;
    align-self: center;
}

.header-main-nav{
    width: fit-content;
    height: 100%;
        
}

.header-main-nav ul{
    list-style: none;
    margin-left: 30px;
}

.header-main-nav ul li{
    display: inline;
    float: left;
}

.header-main-nav ul li a{
    padding: 0 10px 0 10px;
    font-family: Phatboy;
    line-height: 60px;
    display: block;
    height: 100%;
}

.header-main-nav ul li a:hover{
    color: rgb(183, 206, 100)
}

.header-main-sm{
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}

.header-main-sm-fb{
    width: 20px;
    height: 20px;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-sm-fb:hover{
    background-image: url(../img/facebook-color.png);
    
}

.header-main-sm-in{
    width: 20px;
    height: 20px;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-sm-in:hover{
    background-image: url(../img/instagram-color.png);
    
}

.footer-main{
    width: 100%;
    padding: 60px 0 100px;
    background-color: #3a4ebe;
}

.footer-main-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer img{
    width: 20%;
    height: 85%;
    border-radius: 150px;
}

.footer p{
    text-align: center;
    font-size: 16px;
    padding: 20px 20px 0%; 
}

.footer-git {
    padding: 10px 20px;
    margin: 40-x 0 60px;
    border: 2px solid #ffff;
    font-weight: 600;
    transition: all ease-in-out 200ms;
}

.footer-git:hover {
    border: 2px solid var(--site-color-01);
}

.footer-sitemap{
    flex-basis: 100%;
    display: flex;
}

.footer-sitemap a{
    line-height: 30px;
}

.footer-sitemap a:hover{
    opacity: 0.8;
}

.footer-sitemap ul:nth-child(1){
    border-left: 4px solid var(--site-color-01);
    padding-left: 20px;
    flex-basis: 180px;
}

.footer-sitemap ul:nth-child(2){
    flex-basis: 340px;
}

.footer-sitemap ul:nth-child(3){
    flex-grow: 1;
}

.footer-sitemap ul:nth-child(3) li {
    clear: both;
    float: right;
}



